<h1>Edit Shelter</h1>

<%= form_tag("/shelters/#{@shelter.id}", method: :patch) do %>
  <%= label_tag "Name" %>
  <%= text_field_tag :name, @shelter.name %><br>

  <%= label_tag "Address" %>
  <%= text_field_tag :address, @shelter.address%><br>

  <%= label_tag "City" %>
  <%= text_field_tag :city, @shelter.city %><br>

  <%= label_tag "State" %>
  <%= text_field_tag :state, @shelter.state %><br>

  <%= label_tag "Zip" %>
  <%= text_field_tag :zip, @shelter.zip%><br>

  <%= submit_tag "Update Shelter" %>
<% end %>
