<h1>Pets at <%= @shelter.name %> </h1>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new", class: "createLinks" %>


<% @pets.each do |pet| %>
  <div class="petContainer">
    <%= image_tag(pet.image, size: "300x250") %>
    <div class="containerText">
      <p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: "siteLinks" %></p>
      <p>Age: <%= pet.approximate_age %></p>
      <p>Sex: <%= pet.sex %></p>
      <%= link_to "Update #{pet.name}", "/pets/#{pet.id}/edit", class: "updateLinks" %><br>
      <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", class: "deleteLinks", method: :delete %><br>
    </div>
  </div>
<% end %>
