<div class="showPageContainer">
  <div class="showPageText">
    <h1><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", class: "siteLinks" %></h1>
    <h4><%= link_to "See Shelter's Pets",  "/shelters/#{@shelter.id}/pets", class: "siteLinks"%></h4>

    <p><%= @shelter.address %></p>
    <p><%= @shelter.city %></p>
    <p><%= @shelter.state %></p>
    <p><%= @shelter.zip %></p>

    <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", class: "updateLinks" %><br>
    <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", class: "deleteLinks", method: :delete %><br>
    <%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new", class: "updateLinks" %>

    <% @shelter.reviews.each do |review| %>
      <section id="review-<%= review.id %>">
      <p><%= review.title %></p>
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
      <% if review.picture != nil %>
        <img src=<%= review.picture %> alt=<%= "Faulty Image" %> height="300" width="300"><br>
      <% end %>
      <%= link_to "Edit Review", "/shelters/#{@shelter.id}/#{review.id}/edit", class: "updateLinks" %><br>
      <%= link_to "Delete Review", "/shelters/#{@shelter.id}/#{review.id}", class: "deleteLinks", method: :delete %>
      </section>
    <% end %>

    <h4>Shelter Statistics</h4>
      <p>Count of Pets: <%= @shelter.count_pets %> </p>
      <p>Average Review Rating: <%= @shelter.average_review_rating %> </p>
      <p>Number of Applications: <%= @shelter.count_applications %> </p>
  </div>
</div>
