<h1>Favorite Pets</h1>
<% if @pets.length > 0 %>
  <%= link_to "Adopt Pets", "/applications/new", class: "siteLinks" %>
<% end %>
<%= link_to "Remove All Favorites", "/favorites", class: "deleteLinks", method: :delete %>

<section id="allFavoritePets">
  <% @pets.each do |pet| %>
    <section id="favorite-<%= pet.id %>" >
      <div class="petContainer">
        <%= image_tag(pet.image, size: "300x250") %>
        <div class="containerText">
          <p>Name:<%= link_to " #{pet.name}", "/pets/#{pet.id}", class: "siteLinks" %></p>
          <%= link_to "Remove #{pet.name}", "/favorites/#{pet.id}", class: "deleteLinks", method: :delete %>
        </div>
      </div>
    </section>
  <% end %>
</section>
