<h1>Pet Application</h1>

<p> Name: <%= @application.name %> </p>
<p> Address: <%= @application.address %> </p>
<p> City: <%= @application.city %> </p>
<p> State: <%= @application.state %> </p>
<p> Zip: <%= @application.zip %> </p>
<p> Phone: <%= @application.phone %> </p>
<p> Description: <%= @application.description %> </p>

<h4>Pets Applied For</h4>
<% @application.pet_applications.each do |pet_app| %>
  <section id="pet-<%=pet_app.pet.id%>">
  <p><%= link_to pet_app.pet.name, "/pets/#{pet_app.pet.id}", class: "siteLinks" %></p>
  <%= link_to "Approve Application", "/pets/#{pet_app.pet.id}/applications/#{@application.id}/approve", method: :patch  %>
</section>
<% end %>
